
{{#if username}}
  Welcome {{username}}! Add Some Products.
{{/if}}

{{#unless logged_in}}
  <p> Create an Account to track your used goods!!</p>
{{/unless}}

{{#if logged_in}}
  <h2>Add a Product</h2>

  <form class="create-update-form" action="/create" method="POST">

    <div class="form-group">
      <label for="product">Product Name:</label>
      <input type="text" id="product" name="name">
    </div>

    <div class="form-group">
      <label for="sold">Sold?</label><br>
      <input type="radio" name="sold" value="1" checked> Sold!<br>
      <input type="radio" name="sold" value="0"> Not Sold
    </div>

    <button type="submit">Add Product</button>
  </form>



<h2>Products that are not sold!</h2>

<ul>
  {{#each products}}
    {{#unless this.sold}}
      <li>
        {{this.name}} - owned by {{this.User.email}}

        <form action="products/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sold" value="true">
          <button type="submit">GET IT SOLD!</button>
        </form>

        {{> products/delete-products}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Products that are sold!</h2>

<ul>
  {{#each products}}
    {{#if this.sold}}
      <li>
        {{this.name}} - owned by {{this.User.email}}

        <form action="products/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sold" value="false">
          <button type="submit">SOLD!</button>
        </form>

        {{> products/delete-product}}
      </li>
    {{/if}}
  {{/each}}
</ul>
{{/if}}